@model Backend_Project.Models.Categories

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hasCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hasCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
