@model List<Course>

@foreach (Course course in Model)
{
    <div data-id="@course.CourseName" class="col-md-4 col-sm-6 col-xs-12 my">
        <div class="single-course">
            <div class="course-img">
                <a asp-controller="Course" asp-action="Detail" asp-route-id="@course.Id">
                    <img src="~/img/course/@course.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-controller="Course" asp-action="Detail" asp-route-id="@course.Id">@course.CourseName</a></h3>
                <p>@Html.Raw(course.CourseDescription)</p>
                <a class="default-btn" asp-controller="Course" asp-action="Detail" asp-route-id="@course.Id">read more</a>
            </div>
        </div>
    </div>
}

<div class="col-md-12">
    <div class="pagination">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.PageCount; i++)
            {
                if (i == ViewBag.Page)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Course" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }

            }
        </ul>
    </div>
</div>

