@model Event
@{
    ViewData["Title"] = "Detail";
}

<div class="event-details-area blog-area pt-150 pb-140 bg-white p-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img text-center">
                        <img width="450" src="~/img/event/@Model.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.EventDate.ToString("dd") <span>@Model.EventDate.ToString("MMM")</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content text-center">
                        <h2>@Model.Title</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><span>time : </span>@Model.StartTime - @Model.EndTime</li>
                            <li class="list-group-item"><span>venue : </span>@Model.EventPlace</li>
                        </ul>
                        <p>@Html.Raw(Model.EventDetails.EventDescription)</p>

                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-group">
                                    <h5>Tags</h5>
                                    @foreach (TagsToEvents item in Model.TagsToEvents)
                                    {
                                        <li class="list-group-item">@item.Tags.TagName</li>
                                    }
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <ul class="list-group">
                                    <h5>Speakers</h5>
                                    @foreach (EventSpeakers item in Model.EventSpeakers)
                                    {
                                        <li class="list-group-item">@item.Speakers.SpeakerName</li>
                                    }
                                </ul>
                            </div>

                            <div class="col-md-4">
                                <ul class="list-group">
                                    <h5>Categories</h5>
                                    @foreach (CategoryEvents item in Model.CategoryEvents)
                                    {
                                        <li class="list-group-item">@item.Categories.NameCategory</li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <a asp-action="Index" class="btn btn-info">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
