@model Event
@*@model EventsVM*@
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img width="750" src="~/img/event/@Model.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.EventDate.ToString("dd") <span>@Model.EventDate.ToString("MMM")</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Title</h2>
                        <ul>
                            <li><span>time : </span>@Model.StartTime - @Model.EndTime</li>
                            <li><span>venue : </span>@Model.EventPlace</li>
                        </ul>
                        <p>@Html.Raw(Model.EventDetails.EventDescription)</p>
                        @*<div class="speakers-area fix">
                <h4>speakers</h4>
                <div class="row">
                    @foreach (Speakers speakers in Model.EventDetails.Speakers)
                    {
                        <div class="single-speaker col-md-6">
                            <div class="speaker-img">
                                <img src="~/img/event/@speakers.Image" alt="speaker">
                            </div>
                            <div class="speaker-name">
                                <h5>@speakers.SpeakerName</h5>
                                <p>@speakers.Position </p>
                            </div>
                        </div>
                    }
                </div>


            </div>*@
                    </div>
                    @await Component.InvokeAsync("SendMessage")
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    @await Component.InvokeAsync("Sidebar")
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (TagsToEvents tag in Model.TagsToEvents)
                            {
                                <a asp-action="Index" class="mr-10 mb-10">@tag.Tags.TagName</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event Details End -->
