@model List<Blogs>
@foreach (Blogs blg in Model)
{
    <div class="single-post mb-30">
        <div class="single-post-img">
            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blg.Id">
                <img style="width: 120px !important" src="~/img/blog/@blg.Image" alt="post">
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </a>
        </div>
        <div class="single-post-content">
            <h6><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blg.Id">@blg.Title</a></h6>
            <p>By @blg.Author  /  @blg.DateWrite.ToString("MMMM dd, yyyy")</p>
        </div>
    </div>
}