@model List<Categories>
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog / right side bar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="main-menu">
                <nav>

                    <ul>
                        <h1>Categories</h1>
                        <li><a href="#" data-id="all">All</a></li>
                        @foreach (Categories categories in Model)
                        {
                            <li class="text-danger"><a href="" data-id="@categories.Id">@categories.NameCategory</a></li>
                        }

                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            @await Component.InvokeAsync("Blogs", 9)
            @*@foreach (Blogs blog in Model)
            {
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a asp-action="Detail" asp-route-id="@blog.Id"><img src="~/img/blog/@blog.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @blog.Author  /  @blog.DateWrite.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o"></i> @blog.CommentCount</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-action="Detail" asp-route-id="@blog.Id">@blog.Title </a></h2>
                                <a asp-action="Detail" asp-route-id="@blog.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }*@

            <div class="col-md-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
